<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <style>
        .conteudo img{
            width: 300px;
        }
        .inputP{
            width: 20vw;
            font-size: 20px;
        }
        #search{
            position: absolute;
            top: 17.5vh;
            left: 21vw;
            color: grey;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3>Achar endereco pelo CEP ou sugestões de filmes</h3>           
            </div>
    
            <div class="card-body">
                <form action="/filterMovie" method="GET">
                    <div class="form-group">
                        <label>Sugestões de filmes</label>
                        <input type="search" name="texto" maxlength="15" placeholder="Digite um nome ou letra..." class="form-control inputP" required>
                        <button class="btn" id="search"><i class="fas fa-search"></i></button>
                        <div class="alert alert-warning m-4" role="alert">Pesquise em inglês, exemplo (car, cloud, ...)!</div>
                    </div>
                </form>
                
                <form action="/envia-cep" method="POST">
                    <div class="form-group">
                      <label for="cep">Cep</label>
                      <input class="form-control inputP" type="text" name="cep" placeholder="00000000" minlength="8" maxlength="8" id="cep" required>
                      <input type="submit" class="btn btn-outline-success mt-2" value="Buscar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>