<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Filmes filtrados</title>
</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-outline-dark mt-4 mb-4">Pesquisar novamente</a>
        <h5>Resultado Pesquisa</h5>
        <ul>
        <% if(pesquisa.results != ""){ %>
            <% for(i=0;pesquisa.page > i;i++){  %>
                <li>
                    <%= pesquisa.results[i].title %>
                </li>
            <% } %>
        <% } else { %>
            <h3>Título não encontrado!</h3>
        <% } %>
        </ul> 
    </div>
</body>
</html>